# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
.vsconfig

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb

# Asset meta files for ignored folders
Library.meta
Temp.meta
